* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* MAIN HEADER */
.main-header {
    height: 100px;
    background-color: red;
    /* FLEX */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LOGO */
.logo {
    color: white;
    padding-left: 50px;
}

/* NAV */
.nav {
    list-style: none;
    font-size: x-large;
    padding-right: 50px;
    /* FLEX */
    display: flex;
    gap: 20px;
}

.menu-item {
    color: white;
    text-decoration: none;
}

.menu-item:hover {
    text-decoration: underline;
}

/* MAIN BODY */
.news-cards {
    margin: 20px;
    /* FLEX */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.card {
    overflow: hidden;
    text-align: center;
    width: 20%;
    padding: 20px;
    border-right: solid rgb(208, 208, 210);
    border-bottom: solid rgb(208, 208, 210);
    border-radius: 10px;
    /* FLEX */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card:hover {
    border-right: solid red;
    border-bottom: solid red;
}
